* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px 30px;
	background-color: #ddd;
	text-align: center;
}
.container {
	width: 100%;
	/* background-color: #f0f; */
	margin: 20px 0 -10px;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
}
footer {
	width: 100%;
	height: 80px;
	background-color: #fff;
	margin-top: 20px;
}
.block {
	width: calc(50% - 10px);
	border: 1px solid #aaa;
	background-color: lightblue;
	float: right;
	height: 100px;
	margin-bottom: 10px;
}
.block:last-child, .block:nth-child(2) {
	height: 65px;
}
.block:nth-child(4) {
	height: 140px;
}
.fleft {
	float: left;
}
@media screen and (max-width: 600px) {
	.block {
		width: 100%;
	}
}